USE [master]
GO
/****** Object:  Database [projectDB]    Script Date: 20-12-2020 16:32:07 ******/
CREATE DATABASE [projectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projectDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\projectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'projectDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\projectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projectDB]
GO
/****** Object:  Table [dbo].[promotionalCoupons]    Script Date: 20-12-2020 16:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotionalCoupons](
	[pin] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[bithdate] [varchar](50) NULL,
	[age] [varchar](50) NULL,
	[province] [varchar](50) NULL,
	[flavour] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[promotionalCoupons] ([pin], [email], [bithdate], [age], [province], [flavour]) VALUES (N'7368', N'test@test.com', N'12/12/2020', N'91', N'QUBEC', N'ginger ale')
GO
USE [master]
GO
